<li class="active">
    <a href="{{ path('admin_homepage') }}">
        <i class="icon-gauge"></i><span class="title">Dashboard</span>
    </a>
</li>
<li>
    <a href="{{ path('users_list') }}">
        <i class="fa fa-users"></i><span class="title">Users</span>
    </a>
</li>