{% extends '::layout.html.twig' %}

{% block header %}
    {{ include('UserBundle:Home:menu.html.twig') }}
{% endblock %}

{% block kd_body %}
    <h1>Bonjour</h1>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}